@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

body {
  font-family: 'Montserrat', sans-serif;
}

.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGxvZ2lufGVufDB8fDB8fHww');

  background-size:cover;
  background-position:center;
}

.sign-up-form {
  width: 300px;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.05);
  
  background-image: linear-gradient(to right, #e49a12, #caeb39);
  background-color: rgb(255, 255, 255);
  background-size: cover;
  backdrop-filter: blur(5px);
}

.sign-up-form h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #272a2e;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.social-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  transition: all 0.3s ease-in-out;
}

.social-container a:hover {
  background-color: #dddddd;
  transform: scale(1.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #dddddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333;
}

input:focus {
  outline: none;
  box-shadow: 0 0 2px 1px #3498db;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #272a2e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
